/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
button,
input,
select,
textarea {
    color: #242424;
    font-family: "Adobe Garamond Pro", Georgia, serif;
    font-size: 1em;
    -webkit-text-size-adjust: 1em;
    -ms-text-size-adjust: 1em;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

audio,
canvas,
img,
video {
    height: auto;
    max-width: 100%;
    display: block;
    vertical-align: top;
}

.container {
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 30px;
}

header .tagline:before {
    content: '/';
    margin-right: 10px;
}

header {
    padding: 160px 0 100px;
}

header h1, header h2, .works h3, .contact h3 {
    font-family: "europa", Helvetica, sans-serif;
    display: inline-block;
    text-transform: uppercase;
}

header h1 {
    margin: 0 80px 0 0;
    font-size: 2.125em;
    line-height: 2.875em;
    letter-spacing: 6px;
}

header h2 {
    margin: 0;
    color: #666;
    font-size: 1.375em;
    font-weight: 400;
    line-height: 1.875em;
    letter-spacing: 3px;
}

.about {
    padding-bottom: 150px;
}

.about p, .contact p {
    margin: 0;
    color: #444;
    font-size: 34px;
    line-height: 44px;
}

.works h3, .contact h3 {
    font-size: 28px;
    color: #242424;
    line-height: 38px;
    letter-spacing: 4px;
}

.contact {
    padding: 140px 0;
}

.contact h3 {
    margin: 0 0 65px;
}

.contact p {
    margin: 0;
}

.contact p a {
    color: #242424;
    font-weight: 700;
    font-style: italic;
    text-decoration: none;
}

.works h3 {
    margin: 0 0 70px;
}

.work {
    width: 33.333%;
    float: left;
    position: relative;
    text-align: center;
}

.work--overlay {
    height: 132px;
    width: 177px;
    margin: -66px 0 0 -89px;
    position: absolute;
    left: 50%;
    top: 50%;
    visibility: hidden;
    opacity: 0;
    z-index: 9999;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.work:hover .work--overlay {
    visibility: visible;
    opacity: 1;
}

.work img {
    z-index: 9998;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.work:hover img {
    opacity: 0.1;
}

.work--overlay h4 {
    margin: 0 0 35px;
    font-size: 26px;
    color: #242424;
    line-height: 32px;
    letter-spacing: 2px;
    font-family: "europa", Helvetica, sans-serif;
    text-transform: uppercase;
}

.work--overlay h5 {
    margin: 0;
    font-size: 30px;
    color: #444444;
    line-height: 38px;
    letter-spacing: 2px;
    font-style: italic;
    font-weight: 400;
}
